.footer {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 95px;
	font-family: 'Montserrat';
}

.footer__text {
	margin: 0;
	margin-bottom: 3px;
	text-align: center;
	font-weight: bold;
	font-size: 9px;
}


/* Медиазапросы */

@media (max-width: 480px) {
	.footer {
		display: none;
	}
}

@media (min-width: 481px) and (max-width: 1024px) {
	.footer {
		display: none;
	}
}
